* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666666;
}

em,
i {
    font-style: normal;
}

input,
button {
    border: 0;
    outline: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}